.formulaire{
   border: 3px solid black;
   height: 30%;
   width: 35%;
   padding: 35px;
   align-items: center;
   margin: 35%;
}

#Nom{
   margin-left: 50px;
}
#Prénom{
   margin-left: 33px;
}
#code{
   margin-left: 7px;
}
#mail{
   margin-left: 45px;
}
#tel{
   margin-left: 16px;
}
#p{
   margin: 0px;
}

div.decal{
   margin-left: 92px;
}